/* #howto, #partners {
    padding: 80px 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    position: relative;
} */
/* 
.steps {
    width: 200px; height: 200px;
    border: 2px solid #ccc;
    margin-top: 20px;
    border-radius: 5%;
    padding: 5%;
    transition: all 0.1s ease 0s;
} */

.steps:hover {
    box-shadow: -6px -6px 15px #ccc;
    width: 220px; height: 220px;
    /* Scaling by 110% */
}

hr {
    position: relative;
    width: 90%;
    left: 5%; /* centering hr in page*/
}

h2 {
    text-transform: uppercase;
}

.step-btn {
    transform: scale(1.5);
}