.header {
    background-image: linear-gradient(rgba(18, 38, 32, 0.5), rgba(18, 38, 32, 0.5)), url('../../Assets/Images/landpic.jpg');
    background-size: cover; /* Stretches the bg-image to fit exactly in the div*/
    border-bottom-left-radius: 70% 5%; /* giving the header an elliptical curve at the bottom border*/
    border-bottom-right-radius: 70% 5%;
}

div.carousel {
    color: white;
    border: 1px dashed black;
    padding: 50px;
}

/* Placing the carousel and info side by side */
.info {
    position: absolute;
    width: 35%; height: auto;
    margin-top: 80px;   /* placing it at the far right with our greeting info text*/
    right: 0;
    border: 1px dashed black;
    padding:0 2.5%;

}

div h1 {
    color: #fff;
    text-transform: uppercase;
}

div .s-u {
    color: #f4ebd0;
    padding: 9px 25px;
    background-color: rgba(182, 141, 64, 0.8);
    border: none;
    transform: scale(1.3);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
div .s-u:hover {
    transform: scale(1.4);
    color: #f4ebd0;
    background-color: rgba(182, 141, 64, 1);
}