.header {
    width: auto; 
    height: 1029px;
    background-image: linear-gradient(rgba(18, 38, 32, 0.5), rgba(18, 38, 32, 0.5)), url('../../Assets/Images/landpic.jpg');
    background-size: cover;
    position: relative;
}

.navbar {
    position: absolute;
    top: 0; left: 0;
}