.header {
    width: auto; 
    height: 1029px;
    background-color: rgb(18, 38, 32);
    position: relative;
}

.bg-img {
    width: inherit;
    height: inherit;
    opacity: 0.5;
}

.navbar {
    position: absolute;
    top: 0; left: 0;
}