.footer {
    background-color: #122620;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 30px;
    color: #ccc;
}

.sxn {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.sxn1, .sxn2, .sxn3 {
    grid-row-start: 1;
    grid-row-end: 5;
}

.sxn4 {
    grid-column-start: 1;
    grid-column-end: 4;
}