body { 
    background-color: #f4ebd0;
}

.form_box {
    /* float: right; */
    width: 30%; height: 30%;
    /* border: 1px solid black;  */
    box-shadow: 0 0 5px #ccc;
    border-radius: 10px;
    padding: 5%;
    margin: 5% auto;
}